body {
  margin: 0;
  font-family: Gotham Medium, M Hei PRC W45, M Hei HK W42, M Hei HK W40,
    HelveticaNeue-Regular, Helvetica Neue Regular, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  /* line-height: 1.25; */
}
/* image postioning */
.image-1,
.image-2 {
  position: relative;
  max-width: 100vw;
  height: 100vh;
}
.image-1 img,
.image-2 img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.second img,
.image-1.second {
  display: none;
  width: 0;
  height: 0px;
}

/*  navigation */
.nav-bar {
  font-family: Helvetica;
  position: absolute;
  font-size: 8px;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  color: white;
  font-weight: 300;
}
.nav-bar-sub {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  flex-wrap: nowrap;
  /* margin: 10px; */
}
.sub1 {
  text-align: left;
}
.sub2 {
  text-align: center;
}
.sub3 {
  text-align: right;
}
.sub4 {
  display: none;
}
.nav-bar p {
  margin: 10px;
}
/* car model name and one liner */
.car-model {
  position: absolute;
  top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: 3px;
}
.car-name {
  font-size: 23px;
  font-weight: 100;
}
.model-one-liner {
  font-size: 40px;
}
/* car description , line height and position changes for smaller screens*/
.description {
  position: absolute;
  width: 100%;
  top: 60vh;
  display: flex;
  text-align: center;
  /* margin-left: 100px;
  margin-right: 100px; */
  flex-direction: column;
  color: white;
  font-weight: lighter;
  line-height: 0.5;
  opacity: 0.5;
}
.small {
  display: none;
}
/* car details / */
.car-details {
  position: absolute;
  top: 73vh;
  width: 100%;
  text-align: center;
}
.parameters {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: lighter;
  font-size: 13px;
  text-align: center;
}
hr {
  margin-left: 25px;
  margin-right: 25px;
}
.bolder-text {
  font-size: 30px;
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: 0px;
  letter-spacing: 1px;
}
.room p,
.miles p,
.star-safety p {
  letter-spacing: 1px;
  padding-top: 0;
  margin-top: 0;
}

.button1,
.button2 {
  background-color: Transparent;
  color: white;
  border: 3px solid white;
  border-radius: 40px;
  width: 150px;
  text-align: center;
  margin-left: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.button2 {
  display: none;
}
.car-details .dotted {
  margin: auto;
  margin-top: 10px;
  font-size: 15px;
  width: 200px;
  color: white;
  letter-spacing: 1.5px;
  border-bottom: 3px white dashed;
  background-color: Transparent;
  border-left: none;
  border-right: none;
  border-top: none;
}
/* --------------------------------------------------- ANIMATIONS ------------------------------------------------------ */
.car-model {
  animation: model 3s;
}
.description {
  animation-direction: normal;
  animation: myfirst 3s 1;
}
.parameters {
  animation-direction: normal;
  animation-delay: 5s;
  animation: fadeIn 3s;
}
@keyframes model {
  0% {
    opacity: 0;
    top: 140px;
  }
  100% {
    opacity: 1;
    top: 100px;
  }
}

@keyframes myfirst {
  0% {
    opacity: 0;
    top: 100vh;
  }
  100% {
    opacity: 1;
    top: 60vh;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ---------------------------------------------------- IMAGE 2 ---------------------------------------------------------- */
.image-parts {
  display: flex;
}
.part-details {
  /* width: 40vw; */
  margin-bottom: 40vh;
  padding: 1%;
  font-size: 1.1em;
  line-height: 1.5;
  animation: description 4s;
}
.part-details p {
  font-weight: lighter;
  letter-spacing: 0.75px;
}
.star-ratings {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  animation: ratings 4s;
}
.star-name {
  display: flex;
  margin-right: 5%;
  justify-content: space-between;
  margin-bottom: 10px;
}
.image-2 img {
  width: 60vw;
  position: relative;
  object-fit: contain;
}
.image-labelling {
  /* animation: labels 4s; */
}
.image-labelling-text {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;

}
.front-label {
  position: absolute;
  top: 31%;
  left: 14%;
  animation: labels 5s;

}
div .vertical-border-front {
  position: absolute;
  top: 35%;
  left: 26%;
  border-right: 2px black solid;
  height: 100px;
  animation: borders 3s;
}

.side-label {
  position: absolute;
  top: 22%;
  left: 40%;
  animation: labels 5s;


}
div .vertical-border-side {
  position: absolute;
  top: 26%;
  left: 53%;
  border-right: 2px black solid;
  height: 100px;
  animation: borders 3s;

}
.low-label {
  position: absolute;
  top: 66%;
  left: 55%;
animation: labels 5s;
}
div .vertical-border-low {
  position: absolute;
  top: 52%;
  left: 70%;
  border-right: 2px black solid;
  height: 100px;
  animation: borders 3s;
  /* animation-direction: reverse; */

}
/*---------------------------------------------------animations for second page -------------------------  */
@keyframes labels {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes borders {
  from{

    height: 0;}
    to {height: 100px;}
  }

}
@keyframes description {

}
@keyframes ratings {
  0% {
    opacity: 0;
    top: 120px;
  }
  100% {
    opacity: 1;
    top: 100px;
  }

}

/* -------------------------------------MEDIA QUERIES--------------------------------------------------------- */
@media (max-width: 739px) {
  /* to prevent wrap */
  .nav-bar .sub2,
  .nav-bar .sub3 {
    display: none;
  }
  .nav-bar .sub4 {
    display: flex;
    justify-content: flex-end;
  }
  .description .large {
    display: none;
  }
  .description .small {
    display: inline-block;
  }
  /* change banner image for big and small screens */
  .first img,
  .image-1.first {
    display: none;
    width: 0;
    height: 0;
  }
  .second img,
  .image-1.second {
    display:block;
    width: 100vw;
    height: 100vh;
  }
  .image-parts {
    flex-direction: column-reverse;
  }
  .image-2 img {
    width: 100vw;
    /* float: none; */
  }
  .part-details {
    width: 100vw;
    /* float: none; */
  }
  .image-2 {
    width: 100vw;
  }
  /* end of changing banner images. */
}

@media (max-width: 639px) {
  .button1 {
    display: none;
  }
  .button2 {
    display: block;
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 5px;
  }
  .car-details .dotted {
    text-transform: uppercase;
    border: 3px solid white;
    border-radius: 40px;
    padding: 5px;
    width: 60%;
  }
}
